:root {
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);
    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);
    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Pop;
    src: url('./assets/fonts/static/HankenGrotesk-Medium.ttf');
}

@font-face {
    font-family: Pop;
    src: url('./assets/fonts/static/HankenGrotesk-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Pop;
    src: url('./assets/fonts/static/HankenGrotesk-Regular.ttf');
    font-weight: normal;
}

body {
    /* background-color: var(--light-lavender); */
    background-color: #f5f5f5;
    font-family: Pop;
    min-height: 100vh;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

}

@media (min-width:992px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1170px;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

p {
    font-size: 18px;
}

.card {
    width: 45%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 1px 0px 20px 2px rgb(0, 0, 0, 0.4);
    justify-content: center;
}

.result {
    padding-top: 20px;
    color: #fff;
    flex: 1;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    gap: 30px;
}

.result>h4:first-child {
    color: var(--Light-lavender);
    text-align: center;

}

.result>.score {
    padding: 20px;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    box-shadow: inset 0px 40px 70px 10px rgba(78, 33, 202, 0.784);
    margin: 0 auto;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.big-score {
    font-weight: bold;
    font-size: 60px;
}

.small-score {
    color: var(--Light-lavender);
    font-size: 15px;
    font-weight: bold;
}

.result h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}

.result p {
    width: 200px;
    color: var(--Light-lavender);
    font-size: 15px;
    text-align: center;
}

.summary {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: space-between;
}

.summary h2 {
    font-size: 30px;
    font-weight: 800;
}

.summary .score {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 10px;
}

.score-reaction {
    background-color: hsla(0, 100%, 67%, 0.1);
    color: hsl(0, 100%, 67%);
}

.score-memory {
    color: hsl(39, 100%, 56%);
    background: hsla(39, 100%, 56%, 0.1);
}

.score-verbal {
    color: hsl(166, 100%, 37%);
    background: hsl(166, 100%, 37%, 0.1);
}

.score-visual {
    color: hsl(234, 85%, 45%);
    background: hsl(234, 85%, 45%, 0.1);
}

.black-text {
    color: #222;
    font-weight: bold;
}

button {
    /*margin-top: 30px;
    */
    padding: 15px 30px;
    border: none;
    color: white;
    outline: none;
    background-color: hsl(224, 30%, 27%);
    width: 70%;
    align-self: center;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

@media (max-width: 760px) {
    .card {
        width: 100%;
        height: 100vh;
        flex-direction: column;
        border-radius: 0px;
        overflow: scroll;
        padding: 10px;
    }
    .result {
        width: 100%;
        padding: 0px;
        border-radius: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .summary {
        width: 100%;
        align-self: center;
        padding: 0;
        margin: 0 auto;
    }


}

@media (max-width:992px) {



    .summary {
        display: flex;
        flex-direction: column;
        margin:0;   
        overflow: hidden;
    }
    .summary .score{
        padding: 0;
    }
    button{
        width: 100%;
    }
}